.spacer {
    flex: 1;
}

.menu {
    background-color: blue;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: rgb(159, 182, 144);
    height: 3em;
}

.toolbar div.menu {
    margin: 0.2em 0.1em 0.2em 0.1em;
    list-style-type: none;
    height: 2.5em;
    width: 10em;
    padding: 1px;
    background-color: rgb(159, 182, 144);
}

.toolbar a {
    opacity: 0.60;
    text-decoration: none;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.toolbar a:hover {
    opacity: 1.0;
    background-color: black
}