  .div {
    background-color: inherit;
  }

  .div.stack-vert {
    padding: 10px;
    display: block;
    overflow: hidden;
  }

  .div.stack-horiz {
    padding: 10px;
    display: block;
    overflow: hidden;
  }

  .div.content {
    padding: 5px;
    background-color: inherit;
    margin: 5px;
  }

  .div.stack-horiz div.content
  {
      float: left;
  }
